.space {
    margin-bottom: 20px;
}

.yellow-bg {
    background-color: yellow;
}

.header, #time, #question {
    text-align: center;
}

.yellow-outline {
    border: 3px solid yellow;
}

.btn-holder {
    height: 100px;
    width: 200px;
    background-color: green;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("../images/pokemon-gen-1.png");
    /* height: auto; */
    background-size: cover;
    background-position: center;
}

/* 
.container {
    height: 100%;
} */